MONGO_DBNAME=Web_App
MONGO_URI=mongodb+srv://Cluster47871:T31PaVxteFJh@cluster47871.amebyif.mongodb.net/?retryWrites=true&w=majority&appName=Cluster47871
SENTRY_DSN=https://d0ebf27fd9affe8416f7a487d66b3a79@o4507088112058368.ingest.us.sentry.io/4507088115138560 # get by registering at https://sentrio.io and configuring new flask project there
FLASK_APP=app.py
FLASK_ENV=development
GITHUB_REPO=https://github.com/your-repository-url # unnecessary for basic operations
GITHUB_SECRET=your_github_secret # unnecessary for basic operations
